* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(70, 0, 12);
}
div {
    vertical-align: top;
    display: inline-block;
    border: 3px rgb(235, 15, 52) solid;
    background-size: 100vw;
    text-align: center;
    background-color: pink;
}
.Yo {
    width: 100vw;
}
.Gustos {
    margin-top: 2px;
    margin-bottom: 4px;
    width: 100vw;
}
img {
    border-radius: 50vw;
    height: 20vw;
    margin-top: 4px;
}
.nada {
    border: 0px;
    width: 100%;
}
.mas {
    margin-bottom: 4vw;
    color: rgb(235, 15, 52);
}
